:root {
  --primary-font:"Open Sans";
  --additional-font:"Raleway";
  --primary-text-color:#555555;
  --paragraph-text-color:rgba(157, 164, 189, 0.6);
  --title-text-color:#FFFFFF;
  --title-text-color2:#303030;
  --accent-color:#FF6C00;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

* {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid tomato;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
}

.modal {
  width: 500px;
  min-height: 550px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 25px;
  background-color: transparent;
}

.is_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.booking_modal-form {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.booking_modal-form::-moz-placeholder {
  margin-left: 10px;
}

.booking_modal-form:-ms-input-placeholder {
  margin-left: 10px;
}

.booking_modal-form::placeholder {
  margin-left: 10px;
}

.modal_el {
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
}

.modal_input {
  width: 250px;
  height: 30px;
}

.higher_modal-el {
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal_message {
  width: 100%;
  height: 100px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  width: 160px;
  height: 36.11;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.header {
  background-color: grey;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header_container {
  display: flex;
  align-items: center;
}

.header_navigation-list {
  display: flex;
  margin-left: 100px;
  gap: 30px;
}

.header_navigation-link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
}
.header_navigation-link:hover, .header_navigation-link:focus {
  color: var(--accent-color);
}

.header_navigation-tel {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
  margin-left: 254px;
}
.header_navigation-tel:hover, .header_navigation-tel:focus {
  color: var(--accent-color);
}

.header_navigation-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  margin-left: 43px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  min-width: 160px;
  height: 36.11;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.hero_container {
  display: flex;
}

.hero_networks {
  background-color: #fff;
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.network_list {
  display: flex;
  gap: 40px;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.a_network {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.a_network:hover, .a_network:focus {
  color: var(--accent-color);
}

.span_instagram {
  display: flex;
  align-items: center;
  gap: 17px;
}

.span_instagram::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.hero_head-pargraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 92px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.paragraph_before::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.hero_header {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.hero_bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 208px;
}

.hero_wrap {
  background-image: url(../../images/Slider\ img\ 3.jpg);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
  background-size: cover;
}

.hero_head-pargraph {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.hero_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.hero_bottom-paragraph {
  font-family: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  min-width: 360px;
}

.decor_button_list {
  margin-right: 20px;
  display: flex;
  gap: 10px;
}

.decor_button_item1 {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.decor_button_item1::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.decor_button_item2 {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.decor_button_item2::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about_container {
  display: flex;
  gap: 30px;
}

.about_list {
  display: flex;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about_block {
  min-width: 480px;
}

.about_top-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--title-text-color2);
  display: flex;
  align-items: center;
  gap: 20px;
}

.about_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}

.about_bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.about_main-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.about_before::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.about_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color2);
  display: block;
  margin-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../../images/Background_services.png);
  background-size: cover;
}

.services_paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.services_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-top: 20px;
}

.lists_container {
  display: flex;
  justify-content: space-between;
}

.services_list {
  border: 1px solid green;
  margin-top: 44px;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.services_list:first-child {
  background-image: linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
}

.services_list:last-child {
  background-image: linear-gradient(180deg, rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
}

.services_item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 2%;
  color: var(--paragraph-text-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.services_item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  flex-grow: 1;
}

.services_p-list {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--paragraph-text-color);
  display: block;
  order: -1;
}

.services_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  margin: 0 auto;
  margin-top: 44px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.reasons {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reasons_container {
  display: flex;
  gap: 130px;
}

.reasons_list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-top: 0;
  margin-bottom: 0;
}

.reasons_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
  width: 170px;
  height: 133px;
  background-color: rgb(247, 247, 247);
}

.reasons_item:nth-child(odd) {
  margin-right: 30px;
}

.reasons_item:nth-child(even) {
  margin-top: 30px;
}

.reasons-list_span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  display: flex;
  margin: auto;
}

.reasons-list_span::after {
  content: "+";
  font-size: 20px;
  color: #FF6C00;
}

.reasons_list-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  padding: 6px;
  margin-bottom: 16px;
  text-align: center;
}

.reasons_el-container {
  padding-top: 9px;
}

.reasons_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.reasons_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
}

.reasons-bottom_p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #F7F7F7;
}

.barbers_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.barbers_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}

.barbers_list {
  margin-top: 44px;
  display: flex;
  gap: 30px;
}

.barbers_item {
  width: calc((100% - 60px) / 3);
}

.barbers_h-pictures {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.barbers_p-pictures {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--accent-color);
}

.image_caption {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social_media-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social_media-item {
  width: 44px;
  height: 44px;
}

.social_media-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  cursor: pointer;
}

.social_media-icon:hover, .social_media-icon:focus {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  display: flex;
  align-items: center;
  gap: 20px;
}

.portfolio-list {
  margin-top: 44px;
  display: flex;
  gap: 30px;
}

.common_container {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.booking {
  padding-top: 130px;
  padding-bottom: 110px;
  width: 50%;
  background-color: rgb(25, 28, 38);
}

.booking_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-bottom: 44px;
}

.booking_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 570px;
}

.form_input {
  background-color: rgb(25, 28, 38);
  color: aliceblue;
}

.form_el {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
  margin-right: 25px;
}

.higher_form-el {
  width: 270px;
  height: 40px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-left: 5px;
}
.higher_form-el:hover {
  border-bottom: 1px solid var(--title-text-color);
}

.form_message {
  width: 100%;
  height: 100px;
  resize: none;
  padding-left: 5px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.form_message:hover {
  border-bottom: 1px solid var(--title-text-color);
}

.form_input::-moz-placeholder {
  color: #fff;
}

.form_input:-ms-input-placeholder {
  color: #fff;
}

.form_input::placeholder {
  color: #fff;
}

.booking_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  display: block;
  margin-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 110px;
  width: 50%;
  padding-left: 105px;
  background-image: url(../../images/Background_services.png), linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
  background-size: cover;
}

.contacts_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
}

.contacts_address {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts_link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts_span {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts_bottom-p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer_container {
  display: flex;
  gap: 753px;
}

.footer_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: rgb(157, 164, 189);
}

.footer_list {
  display: flex;
  gap: 40px;
}

.footer_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */