:root {
  --primary-font:"Open Sans";
  --additional-font:"Raleway";
  --primary-text-color:#555555;
  --title-text-color:#FFFFFF;
  --title-text-color2:#303030;
  --accent-color:#FF6C00;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

* {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid tomato;
}

.header {
  background-color: grey;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation-list {
  display: flex;
  margin-left: 100px;
  gap: 30px;
}

.header-navigation-item {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
}

.header-navigation-tel {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
  margin-left: 254px;
}

.header-navigation-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  margin-left: 43px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  min-width: 160px;
  height: 36.11;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.hero-container {
  display: flex;
}

.hero_networks {
  background-color: #fff;
  width: 100px;
}

.hero-Instagram {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero-Youtube {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero-head-pargraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 92px;
  margin-bottom: 20px;
}

.hero-header {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.hero-bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 208px;
}

.hero-wrap {
  background-image: url(../../images/Background.png);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}

.hero-head-pargraph {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.hero-bottom-paragraph {
  font-family: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  min-width: 360px;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: aqua;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-block {
  min-width: 480px;
}

.about-top-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--title-text-color2);
}

.about-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}

.about-bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.about-main-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.about-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color2);
  display: block;
  margin-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: pink;
}

.services-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.services-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  border: 1px solid green;
  margin-top: 44px;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.services-item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
}

.services-p-list {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  display: inline-block;
}

.services-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  margin: 0 auto;
  margin-top: 44px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.reasons {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: yellow;
}

.reasons-container {
  display: flex;
}

.reasons-list {
  display: flex;
}

.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid tomato;
  padding: 20px 24px;
  text-align: center;
}

.reasons-list-span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
}

.reasons-list-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
}

.reasons-top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
}

.reasons-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
}

.reasons-bottom-p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: aqua;
}

.barbers-top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
}

.barbers-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}

.barbers-list {
  margin-top: 44px;
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-h-pictures {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.barbers-p-pictures {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--accent-color);
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
}

.portfolio-list {
  margin-top: 44px;
  display: flex;
  gap: 30px;
}

.booking {
  padding-top: 130px;
  padding-bottom: 110px;
  background-color: aqua;
}

.booking-container {
  background-color: rgb(25, 28, 38);
}

.booking-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
}

.booking-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  display: block;
  margin-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 110px;
}

.contacts-header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
}

.contacts-address {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts-link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts-span {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.contacts-bottom-p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  gap: 753px;
}

.footer-top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: rgb(157, 164, 189);
}

.footer-list {
  display: flex;
  gap: 40px;
}

.footer-link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */