@charset "UTF-8";
:root {
  --primary-font:"Open Sans";
  --additional-font:"Raleway";
  --primary-text-color:#555555;
  --paragraph-text-color:rgba(157, 164, 189, 0.6);
  --title-text-color:#FFFFFF;
  --title-text-color2:#303030;
  --accent-color:#FF6C00;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

* {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
}

.is_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.modal {
  width: 500px;
  min-height: 550px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 25px;
  background-color: transparent;
}

.booking_modal-form {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.booking_modal-form::-moz-placeholder {
  margin-left: 10px;
}

.booking_modal-form:-ms-input-placeholder {
  margin-left: 10px;
}

.booking_modal-form::placeholder {
  margin-left: 10px;
}

.modal_el {
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
}

.modal_input {
  width: 250px;
  height: 30px;
}

.higher_modal-el {
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal_message {
  width: 100%;
  height: 100px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  width: 160px;
  height: 36.11;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.header {
  background-color: transparent;
  position: absolute; /* Додаємо позицію relative для абсолютного позиціонування дочірніх елементів */
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
    left: 55px;
    width: 100%;
  }
}
.header_menu-btn {
  height: 60px;
}

.menu_open {
  width: 30px;
  height: 30px;
  margin-right: 0;
  margin-left: 250px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .menu_open {
    display: none;
  }
}

.header_container {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header_container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header_container {
    margin-right: 54px;
    justify-content: space-between;
  }
}

.header_navigation-list {
  display: flex;
  gap: 20.13px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header_navigation-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header_navigation-list {
    gap: 30px;
    display: flex;
  }
}

.header_navigation-link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
}
.header_navigation-link:hover, .header_navigation-link:focus {
  color: var(--accent-color);
}

.header_contacts {
  display: none;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header_contacts {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header_contacts {
    flex-direction: row;
    display: flex;
    margin-left: 190px;
  }
}

.header_navigation-tel {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: var(--title-text-color);
}
.header_navigation-tel:hover, .header_navigation-tel:focus {
  color: var(--accent-color);
}

.header_navigation-button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  min-width: 160px;
  height: 36.11;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu_open {
    display: none;
  }
}

.menu-close_btn {
  width: 30px;
  height: 30px;
  margin-right: 0;
  margin-left: 220px;
  margin-top: 20px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.menu-list_link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: black;
}
.menu-list_link:hover, .menu-list_link:focus {
  color: var(--accent-color);
}

.menu-list_contacts {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 69px;
}

.menu-list_tel {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  color: black;
}

.menu-list_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10.83px;
  padding-bottom: 10.83px;
  width: 194px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.menu-list_network {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.menu-list_a {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: black;
}
.menu-list_a:hover, .menu-list_a:focus {
  color: var(--accent-color);
}

.hero {
  position: relative;
}

.hero_container {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.hero_networks {
  width: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .hero_networks {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    width: 50px;
  }
}
.network_list {
  display: flex;
  gap: 40px;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}
.a_network {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.a_network:hover, .a_network:focus {
  color: var(--accent-color);
}

.span_instagram {
  display: flex;
  align-items: center;
  gap: 17px;
}

.span_instagram::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.hero_head-pargraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 92px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.paragraph_before::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.hero_header {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero_header {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero_header {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.hero_bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 208px;
}

.hero_wrap {
  background-image: url(../../images/Slider\ img\ 3.jpg);
  background-position: center;
  width: 100%;
  padding-left: 30px;
  padding-top: 210px;
  flex-grow: 1;
  background-size: cover;
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .hero_wrap {
    padding: 272px 100px 208px 100px;
  }
}

.hero_head-pargraph {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero_head-pargraph {
    font-family: var(--primary-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero_head-pargraph {
    font-family: var(--primary-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.hero_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 5%;
    color: var(--title-text-color);
  }
}

.hero_bottom-paragraph {
  font-family: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--title-text-color);
  min-width: 360px;
}
@media screen and (min-width: 768px) {
  .hero_bottom-paragraph {
    font-family: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero_bottom-paragraph {
    font-family: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--title-text-color);
  }
}

.decor_button-list {
  margin-right: 20px;
  display: flex;
  gap: 10px;
  display: none;
}
.decor_button_item1 {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.decor_button_item1::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.decor_button_item2 {
  font-family: var(--primary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.decor_button_item2::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about_container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.about_list {
  display: none;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .about_list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .about_list {
    display: flex;
    flex-direction: row;
  }
}

.about_item {
  width: 270px;
  height: 445px;
}
@media screen and (min-width: 768px) {
  .about_item {
    height: 235px;
  }
}

@media screen and (min-width: 768px) {
  .second {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .second {
    display: block;
  }
}

.about_top-paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--title-text-color2);
  display: flex;
  align-items: center;
  gap: 20px;
}

.about_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .about_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 5%;
    color: var(--title-text-color2);
  }
}

.about_bottom-paragraph {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .about_bottom-paragraph {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--primary-text-color);
  }
}

.about_main-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  margin-top: 20px;
  display: block;
  text-align: justify;
}

.about_before::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.about_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color2);
  margin-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.services {
  background-image: url(../../images/Background_services.png);
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.services_paragraph {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .services_paragraph {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 10px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--paragraph-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .services_paragraph {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 10px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--paragraph-text-color);
  }
}

.services_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .services_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 5%;
    color: var(--title-text-color);
  }
}
.lists_container {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
@media screen and (min-width: 1200px) {
  .lists_container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.services_list {
  border: 1px solid green;
  padding: 30px 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .services_list {
    width: calc((100% - 30px) / 2);
  }
}

.services_list:first-child {
  background-image: linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
}

.services_list:last-child {
  background-image: linear-gradient(180deg, rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
}

.services_item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2%;
  color: var(--paragraph-text-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .services_item {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .services_item {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
    margin-top: 12px;
  }
}

.services_item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  flex-grow: 1;
}

.services_p-list {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 2%;
  color: var(--paragraph-text-color);
  display: block;
  order: -1;
}
@media screen and (min-width: 768px) {
  .services_p-list {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .services_p-list {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
  }
}

.services_s-list {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 2%;
  color: var(--paragraph-text-color);
}
@media screen and (min-width: 768px) {
  .services_s-list {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .services_s-list {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2%;
    color: var(--paragraph-text-color);
  }
}

.services_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  margin: 0 auto;
  margin-top: 44px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}

.reasons {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .reasons {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.reasons_container {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .reasons_container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .reasons_container {
    flex-direction: row;
    gap: 130px;
  }
}

.reasons_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  width: 418px;
}
@media screen and (min-width: 768px) {
  .reasons_list {
    width: 450px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .reasons_list {
    width: 370px;
  }
}

.reasons_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 124px;
  height: 103px;
  background-color: rgb(247, 247, 247);
}
@media screen and (min-width: 768px) {
  .reasons_item {
    width: 194px;
    height: 133px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons_item {
    width: 170px;
  }
}

.reasons_item:nth-child(odd) {
  margin-right: 30px;
}

.reasons_item:nth-child(even) {
  margin-top: 30px;
}

.reasons-list_span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  display: flex;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .reasons-list_span {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 5%;
    color: var(--title-text-color2);
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-list_span {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 5%;
    color: var(--title-text-color2);
    margin: auto;
  }
}

.reasons-list_span::after {
  content: "+";
  font-size: 20px;
  color: #FF6C00;
}

.reasons_list-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  padding: 6px;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reasons_list-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 5%;
    color: var(--title-text-color2);
  }
}
@media screen and (min-width: 1200px) {
  .reasons_list-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 5%;
    color: var(--title-text-color2);
  }
}

.reasons_el-container {
  padding-top: 9px;
}

.reasons_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .reasons_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}
@media screen and (min-width: 1200px) {
  .reasons_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}

.reasons_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .reasons_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 5%;
    color: var(--title-text-color2);
  }
}
.reasons_bottom-p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  width: 100%;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .reasons_bottom-p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--primary-text-color);
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons_bottom-p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--primary-text-color);
    width: 500px;
  }
}

.barbers {
  background-color: #F7F7F7;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.barbers_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .barbers_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}
@media screen and (min-width: 1200px) {
  .barbers_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}

.barbers_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color2);
  margin-top: 20px;
}

.barbers_list {
  margin-top: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers_item {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .barbers_item {
    width: calc((100% - 60px) / 3);
  }
}

.barbers_h-pictures {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}

.barbers_p-pictures {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--accent-color);
}

.image_caption {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social_media-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social_media-item {
  width: 44px;
  height: 44px;
}

.social_media-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  cursor: pointer;
}

.social_media-icon:hover, .social_media-icon:focus {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color2);
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .portfolio_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_top-p {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 2%;
    color: var(--title-text-color2);
  }
}

.portfolio_list {
  margin-top: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio_item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_item {
    width: calc((100% - 90px) / 4);
  }
}

.common_container {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .common_container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .common_container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .common_container {
    max-width: 1200px;
    flex-direction: row;
  }
}

.booking {
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;
  background-color: rgb(25, 28, 38);
}
@media screen and (min-width: 768px) {
  .booking {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .booking {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 50%;
  }
}

.booking_container {
  display: flex;
  flex-direction: column;
}
.booking_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .booking_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 5%;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .booking_header {
    font-family: var(--additional-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 5%;
    color: var(--title-text-color);
  }
}

.booking_form {
  display: flex;
  flex-direction: column;
}

.form_input {
  background-color: rgb(25, 28, 38);
  color: aliceblue;
}

.form_el {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-bottom: 44px;
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .form_el {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .form_el {
    flex-direction: row;
  }
}

.higher_form-el {
  height: 40px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-left: 5px;
}
.higher_form-el:hover {
  border-bottom: 1px solid var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .higher_form-el {
    width: calc((100% - 30px) / 2);
  }
}
.form_message {
  width: 100%;
  height: 100px;
  resize: none;
  padding-left: 5px;
  border-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.form_message:hover {
  border-bottom: 1px solid var(--title-text-color);
}

.form_input::-moz-placeholder {
  color: #fff;
}

.form_input:-ms-input-placeholder {
  color: #fff;
}

.form_input::placeholder {
  color: #fff;
}

.booking_button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 9%;
  color: var(--title-text-color);
  display: block;
  margin-top: 42px;
  align-self: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid rgb(255, 108, 0);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .booking_button {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .booking_button {
    flex-direction: row;
  }
}

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-left: 31px;
  background-image: url(../../images/Background_services.png);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-left: 105px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 50%;
  }
}

.contacts_header {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 5%;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .contacts_header {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts_header {
    padding-left: 105px;
    width: 50%;
  }
}

.contacts-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .contacts-flex {
    flex-direction: row;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-flex {
    flex-direction: column;
    gap: 70px;
  }
}

.contacts_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .contacts_list {
    width: 330px;
  }
}

.contacts_link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts_link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 2%;
    color: var(--title-text-color);
  }
}

.contacts_address {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--title-text-color);
}

.contacts_addition-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}

.contacts_span {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .contacts_span {
    margin-top: 20px;
  }
}
.contacts_span::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
}

.contacts_bottom-p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--title-text-color);
  margin-left: 0;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer_container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer_top-p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: rgb(157, 164, 189);
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .footer_top-p {
    justify-content: space-between;
  }
}

.footer_list {
  display: flex;
  gap: 40px;
  align-self: flex-end;
}
.footer_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2%;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */