.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    // background-color: green;
}

.footer_container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        }
    
    @media screen and (min-width: 1200px) {
      
    

    }

}

.footer_top-p {
    @include font(var(--primary-font), 600, 11px, 1.36, 2%, rgba(157, 164, 189, 1));
    margin-left: 0;

    @media screen and (min-width: 768px) {
      
    
    }

    @media screen and (min-width: 1200px) {
  
    justify-content: space-between;

    }
}

.footer_list {
    display: flex;
    gap: 40px;
    align-self: flex-end;

    @media screen and (min-width: 768px) {
      
    
    }

    @media screen and (min-width: 1200px) {
  

    }
}

.footer_item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_link {
    @include font(var(--primary-font), 600, 11px, 1.36, 2%, var(--primary-text-color));

}