.header {
    background-color: transparent;
   
    @media screen and (min-width: 768px) {
    background-color: grey;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  

}

.header_container{
  display: none;
  align-items: center;


  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

}

  @media screen and (min-width: 1200px) {


}
}

.header_logo {
}


.header_navigation-list {
    display: flex;
    gap: 20.13px;

  
    
    @media screen and (min-width: 1200px) {
        gap: 30px;
    
    }
}

.header_navigation-item {
 
}

.header_navigation-link {
    @include font(var(--primary-font), 600, 12px, 1.22, 0.1em, var( --title-text-color));

    &:hover,
    &:focus{
    color:var(--accent-color); 
   }

  
}

.header_contacts{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;


    @media screen and (min-width: 1200px) {
      flex-direction: row
  
  }


}

.header_navigation-tel {
    @include font(var(--primary-font), 600, 12px, 1.22, 0.1em, var( --title-text-color));
    
    &:hover,
    &:focus{
    color:var(--accent-color); 
   }
}

.header_navigation-button {
    @include font(var(--primary-font), 600, 12px, 1.36, 9%, var(--title-text-color));

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10.83px;
    padding-bottom: 10.83px;

    min-width: 160px;
    height: 36.11;

    border-radius: 25px;
    border: 1px solid rgba(255, 108, 0, 1)
    ;
    background-color: transparent;

 
}