.hero {
    
}


.hero-container{
display: flex;
}

.hero_networks{
background-color: #fff;
width: 100px;

display: flex;
align-items: flex-end;
  
}


.network_list{
display: flex;
gap: 40px;
margin-top: 15px;

transform: rotate(-90deg) translateY(100%);
transform-origin: bottom left;

}

.a-network{
@include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--primary-text-color));
}

.span-instagram{
display: flex;
align-items: center;
gap: 17px    

}

.span-instagram::before{
content: '';
width: 60px;
height: 1px;
background-color: currentColor;
display: block;

}

.hero-head-pargraph {
@include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--primary-text-color));

margin-top: 92px;
margin-bottom: 20px;


display: flex;
align-items: center;
gap: 20px
}

.paragraph-before::before{
content: '';
width: 60px;
height: 1px;
background-color: currentColor;
display: block;
 
}


.hero-header {
@include font(var(--primary-font), 700, 72px, 1.18, 0.02em, var(--primary-text-color));
margin-bottom: 20px;

}

.hero-bottom-paragraph {
@include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--primary-text-color));

margin-bottom: 208px;
}


.hero-wrap{
 background-image: url(../../images/Slider\ img\ 3.jpg);
 padding: 272px 100px 208px 100px;
 flex-grow: 1;
 background-size: cover;
}

.hero-head-pargraph {
@include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--primary-text-color));
margin-top: 0;
margin-bottom: 20px;
}

.hero-header {
@include font(var(--additional-font), 700, 72px, 1.18, 5%, var(--title-text-color));
margin-bottom: 20px;

}

.hero-bottom-paragraph {
@include font(var(--primary-text-color), 400, 18px, 1.66, 2%, var(--primary-text-color));
min-width: 360px;
}

.decor-button_list {
    margin-right: 20px;
    display: flex;
    gap:10px;
}

.decor-button_item1 {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--paragraph-text-color));
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decor-button_item1::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
}


.decor-button_item2 {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--paragraph-text-color));
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decor-button_item2::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
}

