// .background{
//     border: 2px solid green;
// }

.hero {
position: relative;


    
    
}


.hero_container{
display: flex;
padding-right: 0;
padding-left: 0;

}

.hero_networks{

width: 50px;
display: none;


@media screen and (min-width: 768px) {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    width: 50px; 
    }

@media screen and (min-width: 1200px) {
   

    }

  
}


.network_list{
display: flex;
gap: 40px;
align-items: center;

transform: rotate(-90deg) translateY(100%);
transform-origin: bottom left;


@media screen and (min-width: 768px) {


}

@media screen and (min-width: 1200px) {


}

}

.li_network{

}

.a_network{
@include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--primary-text-color));

&:hover,
&:focus{
color:var(--accent-color); 
}
}

.span_instagram{
display: flex;
align-items: center;
gap: 17px    

}

.span_instagram::before{
content: '';
width: 60px;
height: 1px;
background-color: currentColor;
display: block;

}

.hero_head-pargraph {
@include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--primary-text-color));

margin-top: 92px;
margin-bottom: 20px;


display: flex;
align-items: center;
gap: 20px
}

.paragraph_before::before{
content: '';
width: 60px;
height: 1px;
background-color: currentColor;
display: block;
 
}


.hero_header {
@include font(var(--primary-font), 700, 42px, 1.18, 0.02em, var(--primary-text-color));
margin-bottom: 20px;


@media screen and (min-width: 768px) {

@include font(var(--primary-font), 700, 72px, 1.18, 0.02em, var(--primary-text-color));

}

@media screen and (min-width: 1200px) {

@include font(var(--primary-font), 700, 72px, 1.18, 0.02em, var(--primary-text-color));

}

}

.hero_bottom-paragraph {
@include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--primary-text-color));

margin-bottom: 208px;
}


.hero_wrap{
 background-image: url(../../images/Slider\ img\ 3.jpg);
 background-position: center;

 width: 100%;
 padding-left: 30px;
 padding-top: 210px;
 flex-grow: 1;
 background-size: cover;
 margin-left: 0;



//  position: absolute;
//  z-index: 1;
//  top: 50;

 @media screen and (min-width: 768px) {


}

@media screen and (min-width: 1200px) {
padding: 272px 100px 208px 100px;


}
}

.hero_head-pargraph {
@include font(var(--primary-text-color), 600, 9px, 1.36, 0.02em, var(--primary-text-color));
margin-top: 0;
margin-bottom: 20px;

@media screen and (min-width: 768px) {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--primary-text-color));


}

@media screen and (min-width: 1200px) {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--primary-text-color));


}

}

.hero_header {
@include font(var(--additional-font), 700, 42px, 1.18, 5%, var(--title-text-color));
margin-bottom: 20px;

@media screen and (min-width: 768px) {


}

@media screen and (min-width: 1200px) {
    @include font(var(--additional-font), 700, 72px, 1.18, 5%, var(--title-text-color));


}

}

.hero_bottom-paragraph {
@include font(var(--primary-text-color), 400, 12px, 1.66, 2%, var(--title-text-color));
min-width: 360px;

@media screen and (min-width: 768px) {

    @include font(var(--primary-text-color), 400, 18px, 1.66, 2%, var(--title-text-color));

}

@media screen and (min-width: 1200px) {
    @include font(var(--primary-text-color), 400, 18px, 1.66, 2%, var(--title-text-color));


}
}

.decor_button-list {
    margin-right: 20px;
    display: flex;
    gap:10px;
    display: none;

@media screen and (min-width: 768px) {


}

@media screen and (min-width: 1200px) {


}
}

.decor_button_item1 {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--paragraph-text-color));
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decor_button_item1::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
}


.decor_button_item2 {
    @include font(var(--primary-text-color), 600, 11px, 1.36, 0.02em, var(--paragraph-text-color));
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decor_button_item2::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
}

