.services {
    padding-top: 120px;
    padding-bottom: 120px;
    

    background-image:url(../../images/Background_services.png);
    background-size: cover;
}



.services_paragraph {
    @include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--paragraph-text-color));
    display: flex;
    align-items: center;
    gap:20px
}

.services_header {
    @include font(var(--additional-font), 700, 42px, 1.17, 5%, var(--title-text-color));
    margin-top: 20px;
}


.lists_container{
    display: flex;
    justify-content: space-between;

}

.services_list {
    border: 1px solid green;
    margin-top: 44px;
    padding: 30px 20px;

    width:calc((100% - 30px) / 2);
  
}


.services_list:first-child {
    background-image: 

 linear-gradient(180deg, 
 rgba(23, 26, 36, 1),
 rgba(23, 26, 36, 0.2));
  
}


.services_list:last-child {
    background-image:

    linear-gradient(180deg, 
    rgba(9, 11, 19, 1),
    rgba(9, 11, 19, 0.2));

  
  
}

.services_item {
    @include font(var(--primary-font), 400, 18px, 1.10, 2%, var(--paragraph-text-color));
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
    
}


.services_item::before{
    content: '';
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    flex-grow: 1
}


.services_p-list {
    @include font(var(--primary-font), 400, 18px, 1.66, 2%, var(--paragraph-text-color));
    display: block;
    order:-1;

   
}



.services_s-list {
  
   
}


.services_button {

    @include font(var(--primary-font), 600, 12px, 1.36, 9%, var(--title-text-color));

    margin: 0 auto;
    margin-top: 44px;
    display: block;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;

    min-width: 160px;
    height: 40px;

    border-radius: 25px;
    border: 1px solid rgba(255, 108, 0, 1);
    background-color: transparent;
      
}