.services {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: pink;

}



.services-paragraph {
    @include font(var(--primary-font), 600, 11px, 1.36, 0.02em, var(--primary-text-color));
}

.services-header {
    @include font(var(--additional-font), 700, 42px, 1.17, 5%, var(--primary-text-color));
    margin-top: 20px;
}


.lists-container{
    display: flex;
    justify-content: space-between;

}

.services-list {
    border: 1px solid green;
    margin-top: 44px;
    padding: 30px 20px;

    width:calc((100% - 30px) / 2);
    

  
}
.services-item {
    @include font(var(--primary-font), 400, 18px, 1.66, 2%, var(--primary-text-color));
    
    display: flex;
    justify-content: space-between;
    
}

.services-p-list {
    @include font(var(--primary-font), 400, 18px, 1.66, 2%, var(--primary-text-color));
    display: inline-block
}

.services-s-list {
  
   
}


.services-button {

    @include font(var(--primary-font), 600, 12px, 1.36, 9%, var(--title-text-color));

    margin: 0 auto;
    margin-top: 44px;
    display: block;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;

    min-width: 160px;
    height: 40px;

    border-radius: 25px;
    border: 1px solid rgba(255, 108, 0, 1);
    background-color: transparent;
  

    
}